/* usuarios.css */

.usuarios-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    color: #333;
}

.actions .button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions .button:hover {
    background-color: #0056b3;
}

.usuarios-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.usuarios-table th,
.usuarios-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.usuarios-table th {
    background-color: #f2f2f2;
    color: black;
}

.button-action {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.button-action:hover {
    background-color: #0056b3;
}
